# FRONTEND
frontend/node_modules/
frontend/.expo/
frontend/.expo-shared/
frontend/.env
frontend/metro-cache/
frontend/dist/
frontend/web-build/
frontend/ios/
frontend/android/
frontend/.DS_Store
frontend/*.log
frontend/.expo/
frontend/.expo-shared/
frontend/build/
frontend/.expo-packager/

# BACKEND
backend/node_modules/
backend/.env
backend/logs/
backend/debug.log
backend/.DS_Store
backend/src/uploads/